Linear Regression - Diabetes Dataset
Send Feedback
Diabetes dataset is one of the datasets available in sklearn. The diabetes dataset consists of 10 physiological variables (age, sex, weight, blood pressure) measure on 442 patients, and an indication of disease progression after one year.
You are given a Training dataset csv file with X train and Y train data. As studied in lecture, your task is to come up with Linear Regression training algorithm and thus predictions for the test dataset given.
Read Instructions carefully -
1. Use Linear Regression(in scikit learn) as a training algorithm and submit results predicted by that.
2. Files are in csv format, use genfromtxt function in numpy to load data from csv file. Similarly you can use savetxt function to save data into a file.
3. Submit a csv file with only predictions for X test data. File should not have any headers and should only have one column i.e. predictions.  Also prediction values in file should be upto **5** decimal places.
4. Upon submission of predictions, the score you will get is based on coefficient of determination.

In [5]:
from sklearn import datasets
#first load the data set 
diabetes = datasets.load_diabetes()

In [6]:
# split the data set from the data set one is traning and one is 
X = diabetes.data
Y = diabetes.target

In [7]:
print(X.shape) # it is always on the nd fromt 
print(Y.shape) # it is allways in the 1d format

(442, 10)
(442,)

In [8]:
#  creating the data frame 
import pandas as pd 
df = pd.DataFrame(X)
df 
#442 rows × 10 columns

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [9]:
df.columns = diabetes.feature_names
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [10]:
import numpy as np 
traning_data = np.loadtxt('0000000000002329_training_diabetes_x_y_train.csv',delimiter = ',')
test_data = np.loadtxt('0000000000002329_test_diabetes_x_test.csv',delimiter = ',')
print(traning_data.shape)
print(test_data.shape)

(331, 11)
(111, 10)

In [11]:
# we have alread thr perdict data so 
x_test = test_data
x_train = traning_data[:,:10]
y_train = traning_data[:,10:]
print(x_test.shape)
print(x_train.shape)
print(y_train.shape) # test

(111, 10)
(331, 10)
(331, 1)

In [12]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg1.fit(x_train,y_train)

LinearRegression()

In [13]:
m = alg1.coef_
c = alg1.intercept_
print('m',m,'c',c)

m [[  21.73408096 -256.66866675  569.60940087  303.63233545 -833.11088526
   525.74313633  136.07129167  140.89458927  731.44498492   53.32119133]] c [150.70257489]

In [14]:
y_pred = alg1.predict(x_test)
y_pred_decimal5 = np.around(y_pred,decimals = 5)
y_pred_decimal5

array([[105.52975],
       [105.80392],
       [178.60857],
       [ 79.38288],
       [ 52.95869],
       [ 98.87264],
       [150.71755],
       [ 34.86515],
       [113.13536],
       [161.50184],
       [135.86156],
       [ 94.71592],
       [138.48094],
       [141.37442],
       [158.76863],
       [171.65289],
       [106.44836],
       [103.9266 ],
       [ 95.38694],
       [167.40118],
       [166.53426],
       [101.53465],
       [252.45036],
       [147.02259],
       [214.78907],
       [161.27557],
       [210.61315],
       [ 71.78092],
       [189.65032],
       [206.61343],
       [219.98643],
       [168.80193],
       [116.84846],
       [178.744  ],
       [ 77.03247],
       [ 59.54633],
       [111.56738],
       [156.95187],
       [154.59591],
       [198.94457],
       [115.53884],
       [153.46699],
       [ 84.9618 ],
       [113.70337],
       [142.14156],
       [147.3104 ],
       [ 82.78072],
       [ 77.89237],
       [128.99006],
       [261.58712],
       [213.31188],
       [243.98791],
       [167.68132],
       [183.69712],
       [166.85927],
       [202.1144 ],
       [220.39236],
       [172.40288],
       [176.60898],
       [109.04657],
       [276.3779 ],
       [ 90.99942],
       [289.37221],
       [119.56253],
       [ 75.45688],
       [180.78599],
       [146.62093],
       [156.42382],
       [ 41.07904],
       [247.90645],
       [207.99121],
       [ 90.09641],
       [222.2417 ],
       [189.86378],
       [182.26954],
       [164.39881],
       [190.27067],
       [105.44868],
       [199.86136],
       [245.79639],
       [123.20281],
       [119.41032],
       [145.8662 ],
       [206.19247],
       [150.86282],
       [142.23222],
       [154.56875],
       [115.29233],
       [134.0781 ],
       [118.42225],
       [203.57676],
       [170.66484],
       [127.4098 ],
       [ 57.13508],
       [231.92227],
       [185.20714],
       [187.37495],
       [ 83.55921],
       [185.42586],
       [217.34036],
       [108.86715],
       [ 80.98715],
       [127.05524],
       [242.00739],
       [155.97234],
       [125.67575],
       [246.41236],
       [234.96393],
       [191.51298],
       [168.33254],
       [163.02965]])

In [15]:
np.savetxt('pred.csv',y_pred_decimal5,delimiter = ',',fmt = '%f')